footer {
  padding-block: 2rem;
  background-color: var(--clr-grey-900);
  transform: translateY(45rem);

  nav {
    display: grid;
    justify-items: center;
    gap: 2rem;

    .footer__nav {
      display: grid;
      justify-items: center;
      gap: 1rem;
      list-style: none;
    }

    .nav__link {
      color: var(--clr-grey-400);
      font-weight: 800;
      text-decoration: none;
    }

    .nav__link:hover {
      text-decoration: 2px solid underline var(--clr-cyan-900);
    }

    .social__links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }
}
