
:root {
    --clr-primary: #0e8784;
    --clr-secondary: #2c343e;
    --clr-headers: #333d4b;
    --clr-navLinks:#83888f;
    --clr-numbers: #fdd6ba;

    --ff-france: 'Fraunces', serif;
    --ff-barlow: 'Barlow', serif;

    --clr-dark-cyan: hsl(179, 81%, 29%);
    --clr-light-cyan: hsl(178, 55%, 61%);
    --clr-dark-grey-blue: hsl(215, 19%, 25%);
    --clr-pale-orange: hsl(25, 94%, 86%);
    --clr-light-cream: hsl(43, 78%, 98%);
    --clr-grey: hsl(215, 5%, 54%);
    --clr-cream: hsl(43, 30%, 94%);

}

