footer {
  background-color: var(--clr-grey-900);
  transform: translateY(5rem);

  nav {
    display: grid;
    justify-items: center;
    padding-block: 3rem;
    gap: 3rem;

    @media screen and (min-width: 1024px) {
      grid-auto-flow: column;
    }
  }

  .footer__nav {
    display: grid;
    justify-items: center;
    gap: 2rem;
    list-style: none;

    @media screen and (min-width: 1024px) {
      grid-auto-flow: column;
    }

    .nav__link {
      color: rgba(#fff, 0.7);
      font-family: var(--ff-barlow);
      text-decoration: none;
    }

    .nav__link:hover {
      color: #fff;
      font-weight: 600;
      text-decoration: 2px solid underline var(--clr-cyan-900);
    }
  }

  .social__links {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
