.quality {
  display: grid;
  // width: 100%;
  gap: 2rem;

  .tablet-img {
    display: none;
  }

  .desktop-img {
    display: none;
  }

  .quality__content {
    display: grid;
    justify-items: center;
    text-align: center;
    gap: 2rem;

    h2 {
      font-size: clamp(2rem, 3vw + .5rem, 3rem);
      line-height: 1;
    }

    p {
      font-size: clamp(1.2rem, 1vw + .5rem, 2rem);
      padding-inline: 1.5rem;
    }
  }


  @media screen and (min-width:768px) {
    justify-items: center;
    
    .mobile-img {
      display: none;
    }

    .tablet-img {
      display: inline-block;
    }

  }


  @media screen and (min-width: 1024px) {
    width: max(100% - 5rem);
    margin-inline: auto;
    display: flex;
    flex-direction: row-reverse;
    
    .tablet-img {
      display: none;
    }

    .desktop-img {
      display: inline-block;
    }

    .quality__content {
      display: grid;
      gap: 2rem;
      justify-items: end;
      text-align: end;
      align-content: center;

      p {
        padding-inline: unset;
        padding-inline-start: 2rem;
      }
    }
  }
}
