.collectionsSection {
  display: grid;
  justify-items: center;
  gap: 5rem;
  width: min(95%, 1400px);
  margin-inline: auto;

  @media screen and (min-width: 768px) {
    gap: unset;
  }

  h2 {
    color: #83888f;
    font-size: clamp(2rem, 10vw + 0.5rem, 10rem);
    font-family: var(--ff-france);
    text-transform: capitalize;

    @media screen and (min-width: 768px) {
      font-size: clamp(2rem, 14vw + 0.5rem, 13rem);
      text-transform: lowercase;
    }
  }

  .collections__content {
    display: grid;
    gap: 5rem;

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
      align-items: flex-end;
      gap: 1rem;
    }
  }

  .grandEspresso,
  .planalto,
  .piccollo,
  .danche {
    display: grid;
    gap: 1rem;
    justify-items: center;
    text-align: center;

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: start;
      text-align: start;
    }

    @media screen and (min-width: 1024px) {
      align-items: center;
      text-align: center;
      flex-direction: column;
      box-shadow: 0px -100px 100px 10px #fff;
    }
  }

  .grandEspresso__content,
  .planalto__content,
  .piccollo__content,
  .danche__content {
    display: grid;
    align-items: start;
    gap: 2rem;

    h3 {
      font-size: clamp(1.5rem, 2vw + 0.5rem, 2rem);
    }

    @media screen and (min-width: 768px) {
      transform: translateY(-50px);
    }
  }

  .grandEspresso {
    box-shadow: 0px -100px 100px 10px #fff;
  }

  @media screen and (min-width: 768px) {
    img {
      max-width: 40%;
      transform: translateY(-60px);
    }

    h3 {
      font-size: clamp(1.5rem, 2vw + 0.5rem, 2rem);
      font-family: var(--ff-france);
    }

    p {
      font-family: var(--ff-barlow);
      font-weight: 700;
    }
  }
}
