footer {
  padding-block: 2rem;
  background-color: var(--clr-grey-900);
  transform: translateY(30rem);

  @media screen and (min-width: 768px) {
    transform: translateY(5rem);
    padding-block: 3em;
  }

  nav {
    display: grid;
    justify-items: center;
    gap: 2rem;

    @media screen and (min-width: 1024px) {
      display: flex;
      justify-content: space-evenly;
    }

    .footer__nav {
      display: grid;
      justify-items: center;
      gap: 1rem;
      list-style: none;

      @media screen and (min-width: 768px) {
        display: flex;
      }
    }

    .nav__link {
      color: rgba(#fff, 0.7);
      font-family: var(--ff-barlow);
      text-decoration: none;
    }

    .nav__link:hover {
      color: #fff;
      font-weight: 600;
      text-decoration: 2px solid underline var(--clr-cyan-900);
    }

    .social__links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }
}
