footer {
  padding-block: 2rem;
  background-color: var(--clr-grey-900);
  transform: translateY(45rem);

  @media screen and (min-width: 768px) {
    transform: translateY(30rem);
    width: max(100% - 3rem);
    margin: auto;
  }

  nav {
    display: grid;
    justify-items: center;
    gap: 2rem;

    @media screen and (min-width:1024px) {
      display: flex;
      justify-content: space-evenly;
    }

    .footer__nav {
      display: grid;
      justify-items: center;
      gap: 1rem;
      list-style: none;

      @media screen and (min-width:768px) {
        display: flex;
      }
    }

    .nav__link {
      color: var(--clr-grey-400);
      font-family: var(--ff-barlow);
      text-decoration: none;
    }

    .nav__link:hover {
      text-decoration: 2px solid underline var(--clr-cyan-900);
    }

    .social__links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }




  }

}
