.heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    color: #fff;
    background-image: url(/assets/plan/mobile/image-hero-blackcup.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-block: 2rem;
    padding-inline: 13px;
    margin-inline: 1rem;
    border-radius: 10px;
  
    h1 {
      font-size: 2.2rem;
      font-family: var(--ff-france);
    }
  
    p {
      font-family: var(--ff-barlow);
  
      @media screen and (min-width: 768px) {
        width: 50ch;
      }
    }
  
    .create-plan__btn {
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      color: #fff;
      background-color: var(--clr-cyan-900);
      font-family: var(--ff-france);
      font-weight: 600;
      cursor: pointer;
      transition: 300ms ease-in;
    }
  
    .create-plan__btn:hover {
      background-color: var(--clr-cyan-100);
      color: var(--clr-grey-900);
    }
  
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      text-align: start;
      gap: 1.5rem;
      color: #fff;
      background-image: url(/assets/plan/tablet/image-hero-blackcup.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
      padding-block: unset;
      padding-inline: 2rem;
      margin-inline: 1rem;
      border-radius: 10px;
      height: 80vh;
    }
  
    @media screen and (min-width: 1024px) {
      justify-content: start;
      background-image: url(/assets/plan/desktop/image-hero-blackcup.jpg);
  
      h1, p , .create-plan__btn {
        transform: translateY(100px);
      }
  
      h1 {
        font-size: 4rem;
        width: 10ch;
      }
  
      p {
        font-size: 20px;
      }
    }
  
  
    @media screen and (min-width: 1200px){
      h1, p , .create-plan__btn {
        transform: translateY(20px);
      }
    }
  
  
    @media screen and (min-width: 1400px){
      h1, p , .create-plan__btn {
        transform: translateY(70px);
      }
    }
  }
  