.howItWorks {
  display: grid;
  gap: 3rem;
  justify-items: center;
  padding-inline: 1.5rem;
  background-color: var(--clr-grey-900);
  padding-block: 2rem;
  border-radius: 10px;
  width: min(95%, 1400px);
  margin-inline: auto;

  .planCreationProcess {
    display: grid;
    gap: 3rem;
    text-align: center;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      align-items: flex-start;
      text-align: start;
    }
  }


  
  @media screen and (min-width: 768px) {
    justify-items: start;
  }

  .pickCoffee,
  .chooseFreq,
  .receiveCoffee {
    display: grid;
    justify-items: center;
    gap: 1rem;
    color: #fff;

    span {
      font-size: 3rem;
      font-family: var(--ff-france);
      color: var(--clr-orange-100);
    }

    h3 {
        font-size: clamp(1.5rem, 3vw + 0.5rem, 2rem);
        font-family: var(--ff-france);
      }


    @media screen and (min-width: 768px) {
      justify-items: start;

      p {
        font-family: var(--ff-barlow);
        font-weight: 600;
      }
    }
  }



  .create-plan__btn {
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: var(--clr-cyan-900);
    font-size: clamp(1rem, 1vw + 0.5rem, 2rem);
    font-family: var(--ff-france);
    font-weight: 600;
    cursor: pointer;
    transition: 300ms ease-in;
  }

  .create-plan__btn:hover {
    background-color: var(--clr-cyan-100);
    color: var(--clr-grey-900);
  }
}
